.review_answers_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  background: cornsilk;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #e7e7e7;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .title {
    text-align: center;
    color: cadetblue;
    text-decoration: underline;
    font-size: 18px;
  }
  .selected_answers {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    max-height: 20rem;
    overflow: auto;
  }
}
