// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$Fallback-font: sans-serif;

$primary-font: fugue_regular, $Fallback-font;

//colors

$white: #fff;
$black: #000000;
$green: #98cb8c;
$background: #fff8dc;
$border: #e7e7e7;
$title: #5f9ea0;
$light-blue: #5c78cc;
