@use "../abstracts/index" as *;

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 25px;
  @include tablet {
    flex-direction: column;
    row-gap: 25px;
    flex-direction: column-reverse;
  }
}
